<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/base.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <title>Base</title>
</head>
<body>
    <div class="background">
        <svg class="shape-top" viewBox="0 0 800 600" xmlns="http://www.w3.org/2000/svg">
            <path fill="#ef1368" fill-opacity="0.1" d="M0,160L80,186.7C160,213,320,267,480,245.3C640,224,800,128,960,96C1120,64,1280,96,1360,112L1440,128V0H1360C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0H0Z" />
        </svg>
        <svg class="shape-bottom" viewBox="0 0 800 600" xmlns="http://www.w3.org/2000/svg">
            <path fill="#ef1368" fill-opacity="0.1" d="M0,480L80,426.7C160,373,320,267,480,234.7C640,203,800,245,960,261.3C1120,277,1280,267,1360,261.3L1440,256V600H1360C1280,600,1120,600,960,600C800,600,640,600,480,600C320,600,160,600,80,600H0Z" />
        </svg>
    </div>

    <div class="container">
        <div class="sidebar">
          <div class="logo">
            <img src="/static/img/logo_white.png"  alt="Logo" class="logo">
          </div>
            <ul class="menu">           
                {% if menu.dashboard %}
                <li class="menu-item {% if page == 'dashboard' %}active{% endif %}"><a href="#">Dashboard</a></li>
                {% endif %}

                {% if menu.calendar %}
                <li class="menu-item {% if page == 'calendar' %}active{% endif %}"><a href="#">Calendário</a></li>
                {% endif %}
                
                {% if menu.work_materials %}
                <li class="menu-item {% if page == 'work_materials' %}active{% endif %}"><a href="#">Trabalhos</a></li>
                {% endif %}

                {% if menu.services %}
                <li class="menu-item {% if page == 'services' %}active{% endif %}"><a href="#">Serviços</a></li>
                {% endif %}

                {% if menu.service %}
                <li class="menu-item {% if page == 'service' %}active{% endif %}"><a href="#">Serviço</a></li>
                {% endif %}

                {% if menu.contracts %}
                <li class="menu-item {% if page == 'contracts' %}active{% endif %}"><a href="#">Contratos</a></li>
                {% endif %}

                {% if menu.tickets %}
                <li class="menu-item {% if page == 'tickets' %}active{% endif %}"><a href="#">Tickets</a></li>
                {% endif %}

                {% if menu.teams %}
                <li class="menu-item {% if page == 'teams' %}active{% endif %}"><a href="#">Equipes</a></li>
                {% endif %}

                {% if menu.clients %}
                <li class="menu-item {% if page == 'clients' %}active{% endif %}"><a href="#">Clientes</a></li>
                {% endif %}

                {% if menu.users %}
                <li class="menu-item {% if page == 'users' %}active{% endif %}"><a href="#">Usuários</a></li>
                {% endif %}

                {% if menu.settings %}
                <li class="menu-item {% if page == 'settings' %}active{% endif %}"><a href="#">Configurações</a></li>
                {% endif %}
                
                <li class="menu-item"><a href="#">Sair</a></li>
            </ul>
        </div>

        <div class="main">      
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
