<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="base.css">
    <link id="theme-stylesheet" rel="stylesheet" href="frontend_api/fluxos/theme_light.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="background">
        <svg class="shape-top" viewBox="0 0 800 600" xmlns="http://www.w3.org/2000/svg">
          <path fill="#ef1368" fill-opacity="0.1" d="M0,160L80,186.7C160,213,320,267,480,245.3C640,224,800,128,960,96C1120,64,1280,96,1360,112L1440,128V0H1360C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0H0Z" />
        </svg>
        <svg class="shape-bottom" viewBox="0 0 800 600" xmlns="http://www.w3.org/2000/svg">
          <path fill="#ef1368" fill-opacity="0.1" d="M0,480L80,426.7C160,373,320,267,480,234.7C640,203,800,245,960,261.3C1120,277,1280,267,1360,261.3L1440,256V600H1360C1280,600,1120,600,960,600C800,600,640,600,480,600C320,600,160,600,80,600H0Z" />
        </svg>
      </div>
    
    <div class="container">
        <div class="sidebar">
            <ul class="menu">           
                {%if menu.dashboard %}
                <li><a href="#">Dashboard</a></li>
                {%endif%}

                {%if menu.calendar %}
                <li><a href="#">Calendário</a></li>
                {%endif%}
                
                {% if menu.work_materials %}
                <li><a href="">Trabalhos</a></li>
                {% endif %}

                {% if menu.services%}
                <li><a href="#">Serviços</a></li>
                {% endif %}

                {% if menu.service %}
                <li><a href="#">Serviço</a></li>
                {% endif %}

                {% if menu.contracts %}
                <li><a href="#">Contratos</a></li>
                {% endif %} 

                {% if menu.tickets %}
                <li><a href="#">Tickets</a></li>
                {% endif %}

                {% if menu.teams %}
                <li><a href="#">Equipe</a></li>
                {% endif %}

                {% if menu.clients %}
                <li><a href="#">Clientes</a></li>
                {% endif %}

                {% if menu.users %}
                <li><a href="#">Usuários</a></li>
                {% endif %}

                {% if menu.settings %}
                <li><a href="#">Configurações</a></li>
                {% endif %}
                
                <li><a href="#">Sair</a></li>
            </ul>
        </div>

        <div class="main">
            <label class="theme-switch">
                <input type="checkbox" id="theme-toggle" />
                <span class="slider"></span>
            </label>       
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
          const toggle = document.getElementById('theme-toggle');
          const themeLink = document.getElementById('theme-stylesheet');
      
          const savedTheme = localStorage.getItem('theme') || 'light';
          themeLink.href = `/static/css/theme-${savedTheme}.css`;
          toggle.checked = savedTheme === 'dark';
      
          toggle.addEventListener('change', () => {
            const theme = toggle.checked ? 'dark' : 'light';
            themeLink.href = `/static/css/theme-${theme}.css`;
            localStorage.setItem('theme', theme);
          });
        });
      </script>        
</body>
</html>