:root {
    --color-bg: #f3f3f3;
    --color-text: #333;
    --color-primary: #f20066;
    --color-primary-dark: #d9005c;
    --color-sidebar-bg: var(--color-primary);
    --color-sidebar-hover: #ffffff22;
    --color-card-title: var(--color-primary);
    --color-main-bg: rgba(255, 255, 255, 0.65);
    --color-white: #ffffff;
    --color-shadow: rgba(0, 0, 0, 0.1);
    --color-shadow-strong: rgba(0, 0, 0, 0.3);
  }
  